body {
  font-family: 'Fredoka', sans-serif;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.Container {
  justify-content: center;
  text-align: center;
}
