body {
  font-family: 'Fredoka', sans-serif;
  /* justify-content: center;
  display: flex; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  text-align: center;

}
.search {
  justify-content: center;
  flex-wrap: center;
  
}


.small {
  font-weight: 300;
  font-style: italic;
}

.Container {
  justify-content: center;
  text-align: center;
}

